/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
}
#playlist{
	list-style-type:none;
	background-color:white;
	border:1px solid black;
	border-radius:10px;
	height:100px;
	padding:20px;
	
}
#playlist li a{
	text-decoration:none;
	color:black;
}
#my_playlist ,#nowplay{
	text-align:center;
}
#jaan>p{
	color:white;
}
#nowplay >video{
	border:1px solid black;
	padding:10px;
	background-color:white;
	border-radius:5px;
	}
video{
	background-color: rgb(255, 255, 255);
	padding:10px;
	border-radius:10px;
}